body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background: #f4f4f4;
  color: #333;
}

h1, h2, h3 {
  color: #2c3e50;
}
 
form {
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.flex-layout {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.box {
  background: #3498db;
  color: white;
  padding: 1rem;
  flex: 1;
  text-align: center ;
  border-radius: 6px;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.grid-box {
  background: #2ecc71;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
}